name: Format

on:
  pull_request:

concurrency:
  group: ${{ github.head_ref }}-format
  cancel-in-progress: true

jobs:
  format:
    name: Format code
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Restore NuGet Packages
        run: dotnet restore sharpsource.sln

      - name: Check format
        run: dotnet format --no-restore --verify-no-changes