name: Test

on:
  pull_request:

concurrency:
  group: ${{ github.head_ref }}-test
  cancel-in-progress: true

jobs:
  build:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Restore NuGet Packages
        run: dotnet restore sharpsource.sln

      - name: Run tests
        run: dotnet test --verbosity normal